#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #121212;
}

#navbar h2 a {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 0.5rem;
}

#navbar form {
  display: flex;
  gap: 0.5rem;
}

#navbar input {
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  border: none;
}

#navbar form button {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #000;
  padding: 0.3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 426px) {
  #navbar {
    z-index: 100%;
    position: fixed;
    top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 376px) {
  #navbar input {
    width: 50%;
  }

  #navbar form{
    justify-content: end;
  }
}
